
html{
    font-size: 11px;
    letter-spacing: -0.04rem;
    word-spacing: -0.04rem;
    background-color: #868686;
}

*{
    box-sizing: border-box;
}
ul{
    border-top: 0.5rem double #fbf4f4;
}

img{
    width: 100%;
}

/* Items Hover */
.grid-item{
    border:0.3rem #868686 solid;
    padding: 0.5rem;
    text-align: justify;
    border-radius: 1.9rem;
    list-style: none;
    background-color: rgb(255, 255, 255);
    overflow: scroll;
 }
.grid-item:hover{
    background-color: rgb(211, 223, 223);
    cursor: pointer;
 }

/*Float */
#grid-floats{
    overflow: hidden;
    padding: 2% 0;
    margin: 0;
}
#grid-floats li{
    float: left;
    height:35rem;
}

/* Flex */
#grid-flex{
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    padding: 2rem 0;
    }

            /* Desktop */
@media only screen and (min-width:769px){
    li:first-child{
        width: 50%;
        background-color: #c1c5c2;
    }
    li:nth-child(n+2){
        width: 25%;
    } 
}
            /* Ibad */
@media only screen and (min-width:321px) and (max-width:768px){
    li:nth-child(-n+2){
        width: 50%;
        background-color: #c1c5c2;
    }
    li:nth-child(n+3){
        width: 33.3%;
    }
}
            /* Phone */
@media only screen and ( max-width:320px){
    li:nth-child(1){
        width: 100%;
        background-color: rgb(193, 197, 194);
    }
        li:nth-child(n+2){
        width: 50%;
    }
}


/* Header Animation */
header{     
    font-family: 'Times New Roman', Times;
    font-size: 2rem;
    text-align: center;
    color: white;
    text-shadow:0.2rem 0.2rem rgb(36, 36, 36);
    animation-duration: 2s;
    animation-name: slideinl;
}
@keyframes slideinl {
    from {
      margin-right: 80%;
      width: 50%; 
    }
    to {
      margin-left: 0%;
      width: 100%;
    }
}

/* Adress Animation */
h2 {
    padding: 0.5rem;
    color: #fbf1f1;
    text-shadow: 0.1rem 0.1rem #443c3c;
    font-size:3rem;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    animation-duration: 4s;
    animation-name: slidein;
}
@keyframes slidein {
     from {
          margin-left: 100%;
          width: 300%; 
     }
      
    75% {
          font-size: 300%;
          margin-left: 25%;
          width: 150%;
     }
      
    to {
          margin-left: 0%;
          width: 100%;
     }
}
